.input-form {
    border: 0.125em solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .input {
        border: none;
    }

    .input:focus {
        border: none;
    }
}